<div class="layout-account my-5">
	<div class="container">
		<div class="wrapbox-content-account pb-4">
			<div class="customers-account-form userbox m-auto">
				<div class="customers-register">
					<div class="account-type text-center"><h1>Phục hồi mật khẩu</h1></div>
					{%- form 'reset_customer_password' -%}
					{{ form.errors | default_errors }}
					<div class="form-group mb-4 clearfix">
						<label for="customer_password" class="text-field d-block font-weight-normal text-uppercase mb-2">Mật khẩu</label>
						<input id="customer_password" required type="password" placeholder="......" name="customer[password]" class="form-control" autocomplete="off" />      
					</div>
					<div class="form-group mb-4 clearfix">
						<label for="customer_password" class="text-field d-block font-weight-normal text-uppercase mb-2">Xác nhận mật khẩu</label>
						<input id="customers_password" required type="password" placeholder="......" name="customer[password_confirmation]" class="form-control" autocomplete="off" />      
					</div>
					<div class="customers-action-account clearfix">
						<div class="action-button">
							<button type="submit" class="btn btn-box dark mr-4">Lưu</button>	
						</div>
					</div>
					{%- endform-%}
				</div>
			</div>
		</div>
	</div>
</div>