<div class="layout-account my-5">
	<div class="container">
		<div class="wrapbox-content-account pb-4">
			<div class="customers-account-form userbox m-auto">
				<div id="login" class="customers-account">
					<div class="account-type text-center">
						<h1>Đăng nhập</h1>
					</div>		
					{%- form 'customer_login' -%}
					{{ form.errors | default_errors }}
					<div class="form-group mb-4 clearfix">
						<label for="customer_email" class="text-field d-none font-weight-normal text-uppercase mb-2">Địa chỉ email</label>
						<input id="customer_email" required type="email" name="customer[email]" placeholder="Email" autocomplete="off" class="form-control"/>
					</div>
					{%- if form.password_needed -%}
					<div class="form-group mb-4 clearfix">
						<label for="customer_password" class="text-field d-none font-weight-normal text-uppercase mb-2">Mật khẩu</label>
						<input id="customer_password" required type="password" value="" name="customer[password]" placeholder="Mật khẩu" autocomplete="off" class="form-control"/>      
					</div>
					{%- endif -%}
					<div class="sitebox-recaptcha mb-4">
						This site is protected by reCAPTCHA and the Google
						<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
						and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
					</div>
					<div class="customers-action-account text-center">
						<div class="action-button">
							<button type="submit" class="btn btn-box dark">Đăng nhập</button>
						</div>
						<div class="register--password mt-3">
							<p class="mb-2">
								Quên mật khẩu?
								<a href="#" onclick="showRecoverPasswordForm();return false;">Khôi phục mật khẩu</a>
							</p>
							<p class="mb-0">
								Khách hàng mới?
								<a href="/account/register" class="" title="Đăng ký">Tạo tài khoản của bạn</a>
							</p>
						</div>
					</div>
					{%- endform -%}
				</div>
				<div id="recover-password" style="display:none;">
					<div class="account-type text-center"><h2>Phục hồi mật khẩu</h2></div>		
					{%- form 'recover_customer_password' -%}
					{{ form.errors | default_errors }}
					<div class="form-group mb-4 clearfix">
						<label for="email" class="text-field d-none font-weight-normal text-uppercase mb-2">Địa chỉ email</label>
						<input type="email" required name="email" placeholder="Email" id="recover-email" class="form-control" />
					</div>
					<div class="sitebox-recaptcha mb-4">
						This site is protected by reCAPTCHA and the Google
						<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
						and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
					</div>
					<div class="customers-action-account text-center clearfix">
						<div class="action-button">
							<button type="submit" class="btn btn-box dark">Gửi</button>
						</div>
						<div class="register--password mt-3">
							<p>
								Bạn đã nhớ mật khẩu?
								<a href="#" onclick="hideRecoverPasswordForm();return false;">Quay lại đăng nhập</a>
							</p>
						</div>
					</div>
					{%- endform-%}
				</div>
				{% if shop.checkout.guest_login %}
				<div id="guest">
					<div class="account-type text-center"><h2>Khách hàng đăng nhập</h2></div>		
					{% form 'guest_login' %}
					<div class="customers-action-account clearfix">
						<div class="action-button d-inline-block">
							<button type="submit" class="btn btn-box dark">Đăng nhập tài khoản khách</button>
						</div>
					</div>
					{% endform %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function showRecoverPasswordForm() {
	document.getElementById('recover-password').style.display = 'block';
	document.getElementById('login').style.display='none';
	}

	function hideRecoverPasswordForm() {
	document.getElementById('recover-password').style.display = 'none';
	document.getElementById('login').style.display = 'block';
	}

	if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>

