<div class="layoutPage-about-one">
<div style="position: relative">
<div style="position: absolute; top: 16em; left: 5em; width: 700px;" class="d-none d-lg-block">
	<h2 style="color: #fff;font-family:roboto,sans-serif,roboto,"><i>Corporate Gifts</i></h2>
	<h1 style="color: #fff;font-family:sans-serif,roboto,">QUÀ TẶNG DOANH NGHIỆP</h1>
</div>
	<div style="position: absolute; top: 3.5em; left: 1em; width: 500px;" class="d-sm-none">
	<h4 style="color: #fff;font-family:roboto,sans-serif,roboto;"><i>Corporate Gifts</i></h4>
	<h4 style="color: #fff;font-family:sans-serif,roboto; font-size: 20px">QUÀ TẶNG DOANH NGHIỆP</h4>
</div>
	<div style="position: absolute; top: 10em; left: 1.5em; width: 500px;" class="d-none d-sm-block d-lg-none">
	<h4 style="color: #fff;font-family:roboto,sans-serif,roboto;"><i>Corporate Gifts</i></h4>
	<h3 style="color: #fff;font-family:sans-serif,roboto">QUÀ TẶNG DOANH NGHIỆP</h3>
</div>	
</div>
	<img src="//file.hstatic.net/200000296482/file/corporate-gift_69cbdec7de7e4f6a81a6caf6eae8a0a9.jpg" />
	<div class="wrapper-page-content mt-4 mt-lg-5 mb-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-lg-12">
					<div class="page-wrapper">
						<div class="wrapbox-content-page">
							<div class="content-page">
								{{ page.content }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
