{%- layout none -%}
{%- paginate search.results by settings.pagination_limit -%}

{%- assign check_menu = false -%}
{%- if settings.collection_filter_show -%}
{%- assign check_menu = true -%}
{%- endif -%}

{%- if search.results.size == 0 -%}
<div class="col-12 product-noloop">
	<div class="collection-alert-no"><p>Không tìm thấy kết quả. Vui lòng thử lại!</p></div>
</div>
{%- else -%}
{%- for product in search.results -%}
<div class="col-6 col-md-4 col-lg-3 product-loop animated zoomIn">
	{%- include 'product-loop' -%}
</div>
{%- endfor -%}
{%- endif -%}
{%- endpaginate -%}

